<!-- システムログイン後のホーム画面 -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <head><%= title %></head>
            <h1><a href="/record">勤怠/工数　登録</a></h1>
            <hr>
            <h1><a href="">勤怠/工数　確認</a></h1>            
        <a href="/">logout</a>

        <div role="main"></div>
    </body>
</html>